@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-relaxed;
  }
  .link-item-active {
    @apply text-accent border-b-2 border-accent;
  }
  .download {
    @apply hover:bg-accent hover:text-primary inline-block px-4 py-2 rounded font-extrabold uppercase;
  }
  .icons {
    @apply border border-accent w-8 h-8 flex justify-center items-center rounded-full text-accent hover:text-primary hover:bg-accent;
  }
  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
  .text-outline-hover:hover .arrow {
    background-color: #00ff99;
  }
}
